



<%- include('ek/header', {bot, user, path}) %>



<!--BirlikWeb.Tr.Gg Değişen Site Başlığı Kodu Start--><script LANGUAGE='JavaScript'>
  
var default1 = "Narcos Code"; // Genel başlık
var text1 = "Genel V5"; // 1. Yazı
var text2 = "Dashboardlı Site"; // 2. Yazı
var text3 = "NRC TEAM"; // 3. Yazı
var text4 = "İyi Kullanımlar diler"; // 4. Yazı
var changeRate = 2000; // Zaman ayarı [1000 = 1 Saniye]
var messageNumber = 0;

function changeStatus() {
if (messageNumber == 0) {
window.status=default1;
document.title=default1;
}
else if (messageNumber == 1) {
window.status=text1;
document.title=text1;
}
else if (messageNumber == 2) {
window.status=text2;
document.title=text2;
}
else if (messageNumber == 3) {
window.status=text3;
document.title=text3;
}
else if (messageNumber == 4) {
window.status=text4;
document.title=text4;
messageNumber = 0;
}

messageNumber++;
setTimeout("changeStatus();",changeRate);

}

changeStatus();
</SCRIPT><!--BirlikWeb.Tr.Gg Değişen Site Başlığı Kodu Stop-->

    <body background="https://cdn.discordapp.com/attachments/852622377783394315/881143356200210442/eHBhY2tldCBlbmQ9J3InPz4cLOSUAAAAAElFTkSuQmCC.png">
       
    </body> 
<center>
<div class="anasyf-rsm" style="background-image: url(); background-size: cover;
 width: 100%; min-height: 50%; max-height: 85%;">
<br> <br>
	<div class="container">

		<div class="row justify-content-center align-items-center">
			<div class="col-md-12">
				<img width="164" height="164" style="border-radius: 150px;" src="https://cdn.discordapp.com/icons/760590308869406751/a_b949627c5492f7b80991e52f4d2f7c9c.gif?size=1024">
			</div>
			<div class="col-md-12">
				<br>
				<h3 class="anasyfa-txt" style="color: #0af6ff; font-family: 'Quicksand', black; font-size: 35px;">
				<b><strong>Narcos Code Genel V5</strong> </b>
				</h3>
			</div>
			<div class="col-md-2">
				<br>
				<a href="https://discord.gg/kbwQU6gJCF"><div style="line-height: 44px; color: #fff; font-size: 20px; font-family: 'Quicksand', black;" class="div cloudy"> <b> Discord </b></div></a>
			</div>
			<div class="col-md-2">
				<br>
				<a href="/ekle"><div style="line-height: 44px; color: #fff; font-size: 20px; font-family: 'Quicksand', black;" class="div cloudy"> <b> Ekle </b></div></a>
			</div>
			<div class="col-md-2">
				<br>
				<a href="/ekle"><div style="line-height: 44px; color: #fff; font-size: 20px; font-family: 'Quicksand', black;" class="div cloudy"> <b> Oy </b></div></a>
			</div>
		</div>
	</div>
</div>
</center>






<script data-ad-client="ca-pub-3602939204447937" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<center>
<p style=" margin-top: 30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;"><b>Özellikler<b></p>
</center>

<div class="container">
	<div class="row justify-content-center align-items-center">
		<div class="col-md-4">
			<div class="copy-box">
			  <div class="inner">
			    <div class="line right">
			      <div class="scanner"></div>
			    	</div>
						<img src="https://cdn.discordapp.com/icons/760590308869406751/a_b949627c5492f7b80991e52f4d2f7c9c.gif?size=1024" weight="64" height="64" style="margin-left: 80px;"> <br> <br>
						<p style="font-family: 'Quicksand', black;">Discord Türkiye en iyi Altyapısı Genel V5 Narcos Code Gururla Sunar...</P>
						<br>
						<br>
			 	</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="copy-box">
			  <div class="inner">
			    <div class="line right">
			      <div class="scanner"></div>
					</div>
						<img src="https://cdn.discordapp.com/attachments/875119709002023004/881230641381933147/nexstream_win_2_logo_only-removebg-preview.png" weight="64" height="64" style="margin-left: 80px;"> <br> <br>
						<p style="font-family: 'Quicksand', black;">En Sağlam En İyi Kodlar Sadece Genel Bot V5 Narcos Code sunar...</P>
						<br>
						<br>
			  </div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="copy-box">
			  <div class="inner">
			    <div class="line right">
			      <div class="scanner"></div>
					</div>
						<img src="https://cdn.discordapp.com/attachments/875119709002023004/881230641381933147/nexstream_win_2_logo_only-removebg-preview.png" weight="64" height="64" style="margin-left: 80px;"> <br> <br>
						<p style="width: 200px; font-family: 'Quicksand', black;">Boş Alan İstediniz Gibi Doldurabilirsiniz Narcos Code...</P>
					 	<br>
						<br>
			  </div>
			</div>
		</div>	
	</div>
</div>

<hr style="margin-top: 160px; width: 70%; border-style: solid;color: rgb(151 ,151, 151, 0.3); border-width: 2px; opacity:;" />


<br>
<div class="container">
	<div class="row">
		<div class="col-md-12 justify-content-center align-items-center">
			<center>
			<p style=" margin-top: 30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;"><b>Biz Kimiz?<b></p>
			</center>
		</div>
      <center>
		<div class="col-md-12">
				<p style="font-family: 'Quicksand', black; color: #fff; margin-left: 30px;">Bu site, Narcos Code tarafından kodlanmıştır. Narcos Code, siteyi iyi kullanmanızı diler! İyi Kullanımlar...</p>
		</div>
        </center>
	</div>
</div>

<hr style="margin-top: 180px; width: 70%; border-style: solid;color: rgb(151 ,151, 151, 0.3); border-width: 2px; opacity:;" />

<center>

<div class="container">
	<center>
	<p style=" margin-top: 30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;"><b>İstatistik<b></p>
	</center>
	<div class="row justify-content-center align-items-center">
		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fas fa-server fa-2x"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> <%= bot.stats().serverSize || 0 %> </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> sunucu </p>
				</center>
			</div>
		</div>

		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fas fa-users fa-2x"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> <%= bot.stats().userSize || 0 %> </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> kullanıcı </p>
				</center>
			</div>
		</div>

		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="fas fa-align-right fa-2x"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> <%= bot.stats().channelSize || 0 %> </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> kanal </p>
				</center>
			</div>
		</div>

		<div class="col-md-3">
			<div class="kuckkutu">
				<center>
				<i style="color: #b900ff; font-size: 40px;" class="far fa-grin-tongue fa-2x"></i> <br>
				<p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff;"> <b> <%= bot.stats().emojiSize || 0 %> </b> </p> <p style="font-family: 'Quicksand', black; font-size: 20px; color: #fff; margin-top: -20px;"> emoji </p>
				</center>
			</div>
		</div>
	</div>
</div>

</center>
  
<br><br><br><br>

<div class="kts" style="min-height: 25%; max-height: 25%;">
	<img style="width: 100%; margin-top: -400px;" src="">
</div>

<center>

<div class="container">
	<div class="row justify-content-center align-items-center" style="margin-top: -150px;">
		<div class="col-md-12">
			<div class="header">
			<p style="position:relative; margin-left: 30px;font-family: 'Quicksand', black; font-size: 35px; color: #fff;">Bu mükemmel olan botu sunucuna eklemeye ne dersin?</p>
		</div>
		<div class="col-md-4">	
			<a href="/davet"><div class="div cloudy"><center><p style="line-height:44px; font-family: 'Quicksand', black; font-size: 20px; color: #fff;">Davet Et</p></center></div> </a>
			</div>
		</div>
	</div>
</div>

</center>

<br>
<br>
<br>
<br>
<br>
<br>
<style>
  
  
  
  
  

.anasyfa-txt {
  	text-shadow:
    0 0 5px #00ff8b,
    0 0 10px #00ff8b;
}

.kts {
width: 100%;  
height: 200px;
overflow:hidden;
opacity: 0.4;
}


.div     { width: 100px; height: 44px; border-radius: 6px; }

.cloudy { 
position:relative;
background:linear-gradient( to top right, rgba(63,81,181,1) 0%, rgba(3,155,229 ,1) 40%);
box-shadow: 1px 1px 30px rgba(2,119,189 ,1); }


.kuckkutu {
       width: 128px;
       height: 128px;
       padding: 10px;
       background: rgba(87, 87, 255, 0.4);
       border-radius: 15px;
       margin: 10px;
}
.kutu {
       width: 350px;
       height: 350px;
       padding: 10px;
       background: rgba(0, 125, 255, 0.2);
       border-radius: 15px;
       margin: 10px;
}

.copy-box 
{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 340px;
  color: #fff;
  font-family: sans-serif;
  padding: 20px;
}
.copy-box .line
{
  position: absolute;
  background-color: aqua;
  box-shadow: 0px 0px 12px aqua;
  width: 4px;
  height: calc(100% - 20px);
  top: 10px;
  left: 22px;
  border-radius: 50%;
  overflow: hidden;
}
.copy-box.two .line
{
  border-radius: 0;
  width: 2px;
}
.copy-box .line .scanner 
{
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100%;
  height: 20px;
  border-radius: 50%;
  animation: scanner-loop 3s ease-in-out infinite;
}

.copy-box.two .line .scanner
{
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  height: 50%;
}
@keyframes scanner-loop
{
  0% 
  {
    top: 0;
  }
  50%
  {
    top: 100%;
  }
  100%
  {
    top: 0;
  }
}
.copy-box .inner 
{
  padding: 30px;
}
#testbutton {
  width: 150px;
  height:50px;
  border-radius:180px;
  position:relative;
  left:calc(50% - 75px);
  top:calc(10% - 25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  cursor:pointer;
  line-height:12px;
}

#testbutton:before {
  content:'';
  z-index:1;
  position:absolute;
  display:block;
  width:80%;
  height:70%;
  top:15%;
  left:10%;
  transition: 0.3s opacity ease-in-out;
  filter:blur(15px);
  opacity:0;
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
}

#testbutton:hover:before {
  opacity:1;
  transition: 0.3s opacity ease-in-out;
  filter:blur(25px);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);  
}

#testbutton:after {
  content:'DİSCORD';
  text-align:center;
  line-height:40px;
  font-size:18px;
  color:rgba(235,235,235,1);
  font-weight:bold;
  z-index:5;
  position:absolute;
  display:block;
  border-radius:180px;
  width:92%;
  height:80%;
  top:10%;
  left:4%;  
}
</style>

<%- include('ek/footer') %>
